<div class="addContainer">
  <div class="modalHeader">
    <div class="editRowModal">
      <div class="modalHeader clearfix">
        <div class="modal-about">
          {{dialogTitle}}
        </div>
      </div>
    </div>
    <button mat-icon-button (click)="dialogRef.close()" class="modal-close-button" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div mat-dialog-content>
    <form class="register-form m-4" [formGroup]="patientForm" (ngSubmit)="submit">
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Nom</mat-label>
            <input matInput formControlName="nom" required>
            <mat-icon matSuffix>face</mat-icon>
            <mat-error *ngIf="patientForm.get('nom')?.hasError('required')">
              Name is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Prenom</mat-label>
            <input matInput formControlName="prenom" required>
            <mat-icon matSuffix>face</mat-icon>
            <mat-error *ngIf="patientForm.get('prenom')?.hasError('required')">
              Name is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Numero Assure</mat-label>
            <input matInput formControlName="numeroAssurePrefix">
            <mat-icon matSuffix>check_circle</mat-icon>
            <mat-error *ngIf="patientForm.get('numeroAssurePrefix')?.hasError('required')">
              Numero Assure required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Cle Numero Assure</mat-label>
            <input matInput formControlName="numeroAssureSuffix">
            <mat-icon matSuffix>assignment_ind</mat-icon>
            <mat-error *ngIf="patientForm.get('numeroAssureSuffix')?.hasError('required')">
              Cle Numero Assure required
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <div class="m-b-20">
            <mat-label class="msr-3">Civilite:</mat-label>
            <mat-radio-group aria-label="Select civlite" formControlName="civlite" required>
              <mat-radio-button value="MR">MR</mat-radio-button>
              <mat-radio-button value="MME">MME</mat-radio-button>
              <mat-error *ngIf="patientForm.get('civlite')?.hasError('required')">
                Select civilite
              </mat-error>
            </mat-radio-group>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Caisse</mat-label>
            <input matInput formControlName="caisse">
            <mat-icon matSuffix>home</mat-icon>
            <mat-error *ngIf="patientForm.get('caisse')?.hasError('required')">
              Caise required
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Date</mat-label>
            <input matInput formControlName="createDateTime">
            <mat-icon matSuffix>calendar</mat-icon>
            <mat-error *ngIf="patientForm.get('createDateTime')?.hasError('required')">
              Date required
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <div class="m-b-20">
            <mat-label class="msr-3">etat:</mat-label>
            <mat-radio-group aria-label="Select etat" formControlName="etat" required>
              <mat-radio-button value="Actif">Actif</mat-radio-button>
              <mat-radio-button value="Suspendu">Suspendu</mat-radio-button>
              <mat-radio-button value="Ignore">Ignore</mat-radio-button>
              <mat-error *ngIf="patientForm.get('etat')?.hasError('required')">
                Select etat
              </mat-error>
            </mat-radio-group>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <div class="example-button-row">
            <button mat-raised-button color="primary" [disabled]="!patientForm.valid" [mat-dialog-close]="1"
              (click)="confirmAdd()">Save</button>
            <button mat-raised-button color="warn" (click)="onNoClick()" tabindex="-1">Cancel</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
