<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'Ajout Mémoires'" [items]="['Mémoires']" [active_item]="'Ajout'"></app-breadcrumb>
    </div>
    <div class="row clearfix">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2>Ajout Mémoire</h2>
          </div>
          <div class="body">
            <form class="m-4" [formGroup]="bookingForm" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>First name</mat-label>
                    <input matInput formControlName="first" required>
                    <mat-error *ngIf="bookingForm.get('first')?.hasError('required')">
                      First name is required
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-lg">
                  <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>date1</mat-label>
                    <input matInput formControlName="date1" required>
                    <mat-icon matSuffix>date_range</mat-icon>
                    <mat-error *ngIf="bookingForm.get('date1')?.hasError('date1') && bookingForm.get('date1')?.touched">
                      date1
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-sm">
                  <mat-checkbox>
                  </mat-checkbox>
                </div>
                <div class="col-lg">
                  <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>date8</mat-label>
                    <input matInput formControlName="date8" required>
                    <mat-icon matSuffix>date_range</mat-icon>
                    <mat-error *ngIf="bookingForm.get('date8')?.hasError('date8') && bookingForm.get('date8')?.touched">
                      date8
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-sm">
                  <mat-checkbox>
                  </mat-checkbox>
                </div>
              </div>
              <div class="row">
                <div class="col-lg">
                  <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>date2</mat-label>
                    <input matInput formControlName="date2" required>
                    <mat-icon matSuffix>date_range</mat-icon>
                    <mat-error *ngIf="bookingForm.get('date2')?.hasError('date2') && bookingForm.get('date2')?.touched">
                      date2
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-sm">
                  <mat-checkbox>
                  </mat-checkbox>
                </div>
                <div class="col-lg">
                  <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>date9</mat-label>
                    <input matInput formControlName="date9" required>
                    <mat-icon matSuffix>date_range</mat-icon>
                    <mat-error *ngIf="bookingForm.get('date9')?.hasError('date9') && bookingForm.get('date9')?.touched">
                      date9
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-sm">
                  <mat-checkbox>
                  </mat-checkbox>
                </div>
              </div>
              <div class="row">
                <div class="col-lg">
                  <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>date3</mat-label>
                    <input matInput formControlName="date3" required>
                    <mat-icon matSuffix>date_range</mat-icon>
                    <mat-error *ngIf="bookingForm.get('date3')?.hasError('date3') && bookingForm.get('date3')?.touched">
                      date3
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-sm">
                  <mat-checkbox>
                  </mat-checkbox>
                </div>
                <div class="col-lg">
                  <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>date10</mat-label>
                    <input matInput formControlName="date10" required>
                    <mat-icon matSuffix>date_range</mat-icon>
                    <mat-error *ngIf="bookingForm.get('date10')?.hasError('date10') && bookingForm.get('date10')?.touched">
                      date10
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-sm">
                  <mat-checkbox>
                  </mat-checkbox>
                </div>
              </div>
              <div class="row">
                <div class="col-lg">
                  <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>date4</mat-label>
                    <input matInput formControlName="date4" required>
                    <mat-icon matSuffix>date_range</mat-icon>
                    <mat-error *ngIf="bookingForm.get('date4')?.hasError('date4') && bookingForm.get('date4')?.touched">
                      date4
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-sm">
                  <mat-checkbox>
                  </mat-checkbox>
                </div>
                <div class="col-lg">
                  <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>date11</mat-label>
                    <input matInput formControlName="date11" required>
                    <mat-icon matSuffix>date_range</mat-icon>
                    <mat-error *ngIf="bookingForm.get('date11')?.hasError('date11') && bookingForm.get('date11')?.touched">
                      date11
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-sm">
                  <mat-checkbox>
                  </mat-checkbox>
                </div>
              </div>
              <div class="row">
                <div class="col-lg">
                  <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>date5</mat-label>
                    <input matInput formControlName="date5" required>
                    <mat-icon matSuffix>date_range</mat-icon>
                    <mat-error *ngIf="bookingForm.get('date5')?.hasError('date5') && bookingForm.get('date5')?.touched">
                      date5
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-sm">
                  <mat-checkbox>
                  </mat-checkbox>
                </div>
                <div class="col-lg">
                  <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>date12</mat-label>
                    <input matInput formControlName="date12" required>
                    <mat-icon matSuffix>date_range</mat-icon>
                    <mat-error *ngIf="bookingForm.get('date12')?.hasError('date12') && bookingForm.get('date12')?.touched">
                      date12
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-sm">
                  <mat-checkbox>
                  </mat-checkbox>
                </div>
              </div>
              <div class="row">
                <div class="col-lg">
                  <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>date6</mat-label>
                    <input matInput formControlName="date6" required>
                    <mat-icon matSuffix>date_range</mat-icon>
                    <mat-error *ngIf="bookingForm.get('date6')?.hasError('date6') && bookingForm.get('date6')?.touched">
                      date6
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-sm">
                  <mat-checkbox>
                  </mat-checkbox>
                </div>
                <div class="col-lg">
                  <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>date13</mat-label>
                    <input matInput formControlName="date13" required>
                    <mat-icon matSuffix>date_range</mat-icon>
                    <mat-error *ngIf="bookingForm.get('date13')?.hasError('date13') && bookingForm.get('date13')?.touched">
                      date13
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-sm">
                  <mat-checkbox>
                  </mat-checkbox>
                </div>
              </div>
              <div class="row">
                <div class="col-lg">
                  <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>date7</mat-label>
                    <input matInput formControlName="date7" required>
                    <mat-icon matSuffix>date_range</mat-icon>
                    <mat-error *ngIf="bookingForm.get('date7')?.hasError('date7') && bookingForm.get('date7')?.touched">
                      date7
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-sm">
                  <mat-checkbox>
                  </mat-checkbox>
                </div>
                <div class="col-lg">
                  <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>date14</mat-label>
                    <input matInput formControlName="date14" required>
                    <mat-icon matSuffix>date_range</mat-icon>
                    <mat-error *ngIf="bookingForm.get('date14')?.hasError('date14') && bookingForm.get('date14')?.touched">
                      date14
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-sm">
                  <mat-checkbox>
                  </mat-checkbox>
                </div>
              </div>
              <h2 class="card-inside-title">Appointment Details</h2>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <button class="btn-space" [disabled]="!bookingForm.valid " mat-raised-button
                    color="primary">Ajouter</button>
                  <button type="button" mat-raised-button color="warn">Cancel</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
