<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'Ajout Facture'" [items]="['Facturation']" [active_item]="'Ajout Facture'"></app-breadcrumb>
    </div>
    <div class="row clearfix">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2><strong>Ajout Facture</strong></h2>
          </div>
          <div class="body">
            <form class="m-4" [formGroup]="billForm" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-lg">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>N° Facture</mat-label>
                    <input matInput formControlName="id" required>
                    <mat-error *ngIf="billForm.get('id')?.hasError('required')">
                      N° de facture auto
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-lg">
                  <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>Date facture</mat-label>
                    <input matInput formControlName="date" required>
                    <mat-icon matSuffix>date_range</mat-icon>
                    <mat-error *ngIf="billForm.get('date')?.hasError('date') && billForm.get('date')?.touched">
                      date
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Patient</mat-label>
                    <input matInput formControlName="name" required>
                    <mat-error *ngIf="billForm.get('name')?.hasError('required')">
                      Patient Name is required
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Total</mat-label>
                    <input matInput formControlName="total">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-lg">
                  <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>date1</mat-label>
                    <input matInput formControlName="date1" required>
                    <mat-icon matSuffix>date_range</mat-icon>
                    <mat-error *ngIf="billForm.get('date1')?.hasError('date1') && billForm.get('date1')?.touched">
                      date1
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-sm">
                  <mat-checkbox>
                  </mat-checkbox>
                </div>
                <div class="col-lg">
                  <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>date8</mat-label>
                    <input matInput formControlName="date8" required>
                    <mat-icon matSuffix>date_range</mat-icon>
                    <mat-error *ngIf="billForm.get('date8')?.hasError('date8') && billForm.get('date8')?.touched">
                      date8
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-sm">
                  <mat-checkbox>
                  </mat-checkbox>
                </div>
              </div>
              <div class="row">
                <div class="col-lg">
                  <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>date2</mat-label>
                    <input matInput formControlName="date2" required>
                    <mat-icon matSuffix>date_range</mat-icon>
                    <mat-error *ngIf="billForm.get('date2')?.hasError('date2') && billForm.get('date2')?.touched">
                      date2
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-sm">
                  <mat-checkbox>
                  </mat-checkbox>
                </div>
                <div class="col-lg">
                  <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>date9</mat-label>
                    <input matInput formControlName="date9" required>
                    <mat-icon matSuffix>date_range</mat-icon>
                    <mat-error *ngIf="billForm.get('date9')?.hasError('date9') && billForm.get('date9')?.touched">
                      date9
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-sm">
                  <mat-checkbox>
                  </mat-checkbox>
                </div>
              </div>
              <div class="row">
                <div class="col-lg">
                  <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>date3</mat-label>
                    <input matInput formControlName="date3" required>
                    <mat-icon matSuffix>date_range</mat-icon>
                    <mat-error *ngIf="billForm.get('date3')?.hasError('date3') && billForm.get('date3')?.touched">
                      date3
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-sm">
                  <mat-checkbox>
                  </mat-checkbox>
                </div>
                <div class="col-lg">
                  <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>date10</mat-label>
                    <input matInput formControlName="date10" required>
                    <mat-icon matSuffix>date_range</mat-icon>
                    <mat-error *ngIf="billForm.get('date10')?.hasError('date10') && billForm.get('date10')?.touched">
                      date10
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-sm">
                  <mat-checkbox>
                  </mat-checkbox>
                </div>
              </div>
              <div class="row">
                <div class="col-lg">
                  <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>date4</mat-label>
                    <input matInput formControlName="date4" required>
                    <mat-icon matSuffix>date_range</mat-icon>
                    <mat-error *ngIf="billForm.get('date4')?.hasError('date4') && billForm.get('date4')?.touched">
                      date4
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-sm">
                  <mat-checkbox>
                  </mat-checkbox>
                </div>
                <div class="col-lg">
                  <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>date11</mat-label>
                    <input matInput formControlName="date11" required>
                    <mat-icon matSuffix>date_range</mat-icon>
                    <mat-error *ngIf="billForm.get('date11')?.hasError('date11') && billForm.get('date11')?.touched">
                      date11
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-sm">
                  <mat-checkbox>
                  </mat-checkbox>
                </div>
              </div>
              <div class="row">
                <div class="col-lg">
                  <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>date5</mat-label>
                    <input matInput formControlName="date5" required>
                    <mat-icon matSuffix>date_range</mat-icon>
                    <mat-error *ngIf="billForm.get('date5')?.hasError('date5') && billForm.get('date5')?.touched">
                      date5
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-sm">
                  <mat-checkbox>
                  </mat-checkbox>
                </div>
                <div class="col-lg">
                  <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>date12</mat-label>
                    <input matInput formControlName="date12" required>
                    <mat-icon matSuffix>date_range</mat-icon>
                    <mat-error *ngIf="billForm.get('date12')?.hasError('date12') && billForm.get('date12')?.touched">
                      date12
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-sm">
                  <mat-checkbox>
                  </mat-checkbox>
                </div>
              </div>
              <div class="row">
                <div class="col-lg">
                  <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>date6</mat-label>
                    <input matInput formControlName="date6" required>
                    <mat-icon matSuffix>date_range</mat-icon>
                    <mat-error *ngIf="billForm.get('date6')?.hasError('date6') && billForm.get('date6')?.touched">
                      date6
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-sm">
                  <mat-checkbox>
                  </mat-checkbox>
                </div>
                <div class="col-lg">
                  <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>date13</mat-label>
                    <input matInput formControlName="date13" required>
                    <mat-icon matSuffix>date_range</mat-icon>
                    <mat-error *ngIf="billForm.get('date13')?.hasError('date13') && billForm.get('date13')?.touched">
                      date13
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-sm">
                  <mat-checkbox>
                  </mat-checkbox>
                </div>
              </div>
              <div class="row">
                <div class="col-lg">
                  <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>date7</mat-label>
                    <input matInput formControlName="date7" required>
                    <mat-icon matSuffix>date_range</mat-icon>
                    <mat-error *ngIf="billForm.get('date7')?.hasError('date7') && billForm.get('date7')?.touched">
                      date7
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-sm">
                  <mat-checkbox>
                  </mat-checkbox>
                </div>
                <div class="col-lg">
                  <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>date14</mat-label>
                    <input matInput formControlName="date14" required>
                    <mat-icon matSuffix>date_range</mat-icon>
                    <mat-error *ngIf="billForm.get('date14')?.hasError('date14') && billForm.get('date14')?.touched">
                      date14
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-sm">
                  <mat-checkbox>
                  </mat-checkbox>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <button class="btn-space" mat-raised-button color="primary"
                    [disabled]="!billForm.valid">Submit</button>
                  <button type="button" mat-raised-button color="warn">Cancel</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
